.vscode/**
.vscode-test/**
node_modules/**
src/**
out/**
.gitignore
.prettierrc
CHANGELOG.md
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
assets/extension-demo.gif
assets/logo.png
assets/logo.svg
assets/logo-square.svg

!dist/*.d.ts

