.vscode/**
.vscode-test/**
assets/**
node_modules/**
src/**
out/**
.gitignore
.prettierrc
CHANGELOG.md
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
